main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #C7F7F0;
    border-radius: 15px;
}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.form-container {
    border-radius: 16px;
    background: #FFF;
    width: 437px;
    height: 310px;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 15px;
}