body {
    background-color: #C7F7F0;
}

.info-produtos {
    display: flex;
    border-radius: 20px;
    background: #FFF;
    margin: 44px 24px 0px 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.imagem-produto {
    padding-top: 50px;
    width: 500px;
    height: 500px;
}

.product-image-thumb {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 1px 4px 0px 1px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}